 /* Created by chase warren */ 
 
button {
width: 8%;
height: 4%;
  text-align: center;
  font-size: 18px;
  }
  div {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  #myCanvas {
    width: 800;
    height: auto;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

@media only screen and (max-width: 600px) {
  #myCanvas {
    width: 600px;
    height: 400px;
  }
}

@media only screen and (max-width: 600px) {
  #myCanvas {
    max-width: 600px;
    width: 50%;
    height: 400;
  }
}