 /* Created by chase warren */ 
 
button {
width: 8%;
height: 4%;
  text-align: center;
  font-size: 18px;
  }
  div {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  #myCanvas {
    width: 800;
    height: 600;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

@media only screen and (max-width: 1000px) {
  #myCanvas {
    width: 800x;
    height: 400px;
  }
} 

@media only screen and (max-width: 800) {
  #myCanvas {
    width: 600;
    height: 400;
  }
}
